$black-med:black;
$brown-med:#907472;
$green-light:#DCEDC8;/*#C8E6C9;*/


@import 'footer.scss';
@import 'navbar.scss';

@import 'travelMap.scss';


.landing {
	background: url('../images/arrows.png') no-repeat;
	background-position: center center;
	background-size: cover;
	// opacity: 0.7;
}

.landingblock {
	font-weight: bold;
	margin: 48px auto;
	
	&-intro {
		background-color:$green-light;
		border-radius:4px;
		margin: 0 auto;
		text-align: center;
		width: 60%;

		@media (max-width:600px) {
			width: 90%;
		}

		&-bodyc {
			color: $brown-med;
			font-size: 24px;
			padding: 8px 0;
		}

		&-heading {
			color: $brown-med;
			font-size: 36px;
			font-weight: bold;
		}
	}
}

.skills {
	margin: 24px;

	&-heading {
		color: $brown-med;
		font-size: 36px;
		font-weight: bold;
		padding: 8px;
		text-align: center;
	}

	&-slist {

		&-row {
			margin: 12px;
			min-height: 144px;

			&-items {
				padding: 8px 24px;
				align-self:center;
			}

			&-photo {
				background-size: cover;
				height: 100%;
				// opacity: 0.5;
				width: 100%;
			}

			&-txt {
				background-color:$green-light;
				border-radius:4px;
				color:$brown-med;
				font-weight: bold;
				margin: 62px 0;
				padding:4px;
				text-align: center;
			}
		}
	}
}

.mapcontainer {
	margin: 24px 12px;
	max-width: 500px;
	min-height: 200px;
	min-width: 550px;
}

#selectedState {
	margin: 28px 18px;

	&-title {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 12px;
	}

	&-info {
		padding: 4px 0;

		&-title {
			font-weight: bold;
		}

		&-fact {
			padding: 4px 0;
		}
	}
}

.state {
	// color: #D3D3D3;
    stroke-width: 1;
    stroke: #fff;

    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;
}
.state:hover , .state.active {
    cursor: pointer;
    stroke-width: 4;
    stroke: #000;
}

.regionlist {
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
}
.regionlist > div {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid grey;
}
.regionlist > div > div {
    display: inline-block;
    width: 48%;
}
.regionlist > div.active {
    font-weight: bold;
    background-color: lightblue;
}
svg path:hover , path.active {
    cursor: pointer;
    opacity: 1;
}
.scale {
    position: relative;
}
.scale div {
    width: 9.07%;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 5px 0;
}
