.navbar {
  height: 48px; }
  .navbar-links {
    padding: 12px 18px; }
    .navbar-links-tag {
      color: #907472;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase; }
  .navbar-separator {
    align-self: center;
    color: #907472; }

.navbar-links-tag a:link {
  text-decoration: none; }

.navbar-links-tag a:visited {
  text-decoration: none; }

.navbar-links-tag a:hover {
  text-decoration: none; }

.navbar-links-tag a:active {
  text-decoration: none; }

.navbar-links a:link {
  text-decoration: none; }

.navbar-links a:visited {
  text-decoration: none; }

.navbar-links a:hover {
  text-decoration: none; }

.navbar-links a:active {
  text-decoration: none; }

.dropdown-link {
  display: block;
  line-height: 2;
  padding: 4px;
  text-align: left;
  text-transform: uppercase; }
  .dropdown-link.separator {
    border-top: solid 1px gray; }
  .dropdown-link:hover {
    background-color: gray;
    text-decoration: none; }

#navbar-dropdown {
  align-self: center;
  border-color: transparent;
  color: gray;
  margin-right: 0; }
  #navbar-dropdown-hamburger {
    margin-top: -8px; }

#dropdown-menu {
  background-color: #FAFAFA;
  padding: 4px;
  position: absolute;
  background-color: gray;
  padding: 0;
  position: fixed;
  right: 0; }
  @media (min-width: 480px) {
    #dropdown-menu {
      right: 8px; } }
  #dropdown-menu .dropdown-version {
    color: gray;
    cursor: default;
    font-size: 9px;
    line-height: 2;
    padding-left: 16px; }
  #dropdown-menu-notch {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 4px;
    border-width: 8px 12px;
    border-color: transparent transparent gray transparent;
    border-style: solid; }
