<div class="landing">
	<div class="landingblock">
		<div class="landingblock-intro">
			<div class="landingblock-intro-heading">Nice to Meet You</div>
			<div class="landingblock-intro-bodyc">I am a creative and analytical web developer who's passionate about what I do, and learning how to do it better.</div>
			<div class="landingblock-intro-bodyc">No stranger to tackling new challenges, recently I decided to take a passion and interest of mine and turn it into a career. I love creating and building, and since starting on this new path I&apos;ve been focusing on building websites and applications with Javascript, Angular, Python, and HTML&sol;SASS.
			</div>
			<div class="landingblock-intro-bodyc">There&apos;s an abundance of information out there, but finding true value, knowledge, and quality content can be more difficult. Working to help users access great companies and their message is one of my main drivers and setting this theme for all my projects helps me produce my best work. I am always learning, adjusting, and implementing new ideas and skills &ndash; and I love to use my creativity and love for the craft to create tools to make this connection for users. While it can be frustrating and take a lot of work, the fact that technology and style is always changing is one of my favorite parts about web development.</div>
			<div class="landingblock-intro-bodyc">We can always build more, build better, and build smarter.
</div>
		</div>
	</div>
</div>


<div class="skills">
	
	<div class="skills-heading">
		Skills and Experience
	</div>

	<div flex="100" class="skills-slist" layout="row">
		<div flex="30" class="skills-slist-row" layout="row">
			<div layout="row" class="skills-slist-row-photo"
				ng-style="{'background-image':'url(/images/usamap.jpg)'}">
				<div flex></div>
				<div class="skills-slist-row-txt">Javascript, AngularJS</div>
				<div flex></div>
			</div>

		</div>

		<div flex="30" class="skills-slist-row" layout="row">

			<div layout="row" class="skills-slist-row-photo"
				ng-style="{'background-image':'url(/images/site.png)'}">
				<div flex></div>
				<div class="skills-slist-row-txt">HTML, CSS/SASS</div>
				<div flex></div>
			</div>
		</div>

		<div flex="30" class="skills-slist-row" layout="row">
			<div layout="row" class="skills-slist-row-photo"
				ng-style="{'background-image':'url(/images/hangmanGame.jpg)'}">
				<div flex></div>
				<div class="skills-slist-row-txt">Python, Flask</div>
				<div flex></div>
			</div>

		</div>
	</div>

</div>

<div class="additional">
	
</div>
