<div layout="row">
	<div class="mapcontainer" svg-map></div>
<!-- 		<div class="scale"> 
        <div ng-repeat="n in [0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0]"
             ng-style="{backgroundColor:'{{n | stateColor}}'}">{{n}}
        </div>
    </div> -->

<!-- 		<p>
        <button ng-click="createstateTravels()" class="">Create Dummy Data</button>
    </p> -->
<!-- 	    <div>
        <div>{{stateHovered}}</div>
    </div> -->
    <div id="selectedState">
        <div id="selectedState-title">Ohio</div>
        <div id="selectedState-info">
        	<span id="selectedState-info-title">
        		State Bird:&nbsp;
        	</span>
        	<span id="selectedState-info-fact">
        		Cardinal
        	</span>        		        	
        </div>
        <div id="selectedState-info">
        	<span id="selectedState-info-title">
        		State Bird:&nbsp;
        	</span>
        	<span id="selectedState-info-fact">
        		Cardinal
        	</span>        		        	
        </div>
        <div id="selectedState-info">
        	<span id="selectedState-info-title">
        		State Bird:&nbsp;
        	</span>
        	<span id="selectedState-info-fact">
        		Cardinal
        	</span>        		        	
        </div>        
    </div>	    
<!-- 	    <div class="regionlist">
        <div ng-repeat="(key,region) in stateTravels" 
        	ng-class="{active:stateHovered==key}"
        	ng-mouseover="hoverOnState(key)">
            <div>{{key}}</div>
            <div>{{region.value | number}}</div>
        </div>
    </div> -->

</div>
