<div layout="row" class="footer">
	<div class="footer-copy">
		<a  style="color:#907472;text-decoration:none;">&copy; 2016 Laura Illig</a>
	</div>
	<div class="footer-links">
		<a style="color:#907472;text-decoration:none;"
		href="/components/homePage/homePage">HOME</a>
	</div>
	<div class="footer-links">
		<a style="color:#907472;text-decoration:none;"
		href="">216.704.6185</a>
	</div>
	<div class="footer-links">
		<a style="color:#907472;text-decoration:none;"
		href="">laura.j.illig&commat;gmail.com</a>
	</div>
	<div hide class="footer-links">
		<a style="color:#907472;text-decoration:none;">CONTACT</a>
	</div>
</div>